parameters:
    level: 5
    paths:
        - lib
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - vendor/nextcloud/ocp/OCP
    ignoreErrors:
        # Doctrine DBAL classes come from NC server, not available in dev stubs
        - '#Call to method .+ on an unknown class Doctrine\\DBAL\\Schema\\Table#'
        # OCP stubs type DataResponse constructor as stdClass, but arrays work at runtime
        - '#Parameter \#1 \$data of class OCP\\AppFramework\\Http\\DataResponse constructor expects#'
        # OCA\Files event class is in the Files app, not in OCP stubs
        - '#OCA\\Files\\Event\\LoadAdditionalScriptsEvent#'
        # OCA\Files_Trashbin event class is in the files_trashbin app, not in OCP stubs
        - '#OCA\\Files_Trashbin\\Events\\MoveToTrashEvent#'
        # registerEventListener generic type can't be verified without the event class stubs
        - '#Parameter \#2 \$listener of method OCP\\AppFramework\\Bootstrap\\IRegistrationContext::registerEventListener#'
    reportUnmatchedIgnoredErrors: false
