parameters:
    level: 5
    paths:
        - lib
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - vendor/nextcloud/ocp/OCP
    ignoreErrors:
        # Doctrine DBAL classes come from NC server, not available in dev stubs
        - '#Call to method .+ on an unknown class Doctrine\\DBAL\\Schema\\Table#'
        # OCP stubs type DataResponse constructor as stdClass, but arrays work at runtime
        - '#Parameter \#1 \$data of class OCP\\AppFramework\\Http\\DataResponse constructor expects#'
